.buttons-list {
  background-color: rgb(110, 28, 8);
  color: azure;
  display: flex;
  font-size: 9.5px;
  height: 68px;
  justify-content: space-evenly;
}

.buttons-list-icon {
  background-color: transparent;
  border-style: none;
  color: azure;
  cursor: pointer;
  display: block;
  font-size: 10px;
  margin: 48px auto 0;
  text-align: center;
}

.gray__meal__all {
  background-image: url('../images/gray__meal__all.png');
  background-size: cover;
  height: 44px;
  width: 44px;
}

.gray__meal__Beef {
  background-image: url('../images/gray__meal__Beef.png');
  background-size: cover;
  height: 44px;
  width: 44px;
}

.gray__meal__Breakfast {
  background-image: url('../images/gray__meal__Breakfast.png');
  background-size: cover;
  height: 44px;
  width: 44px;
}

.gray__meal__Chicken {
  background-image: url('../images/gray__meal__Chicken.png');
  background-size: cover;
  height: 44px;
  width: 44px;
}

.gray__meal__Dessert {
  background-image: url('../images/gray__meal__Dessert.png');
  background-size: cover;
  height: 44px;
  width: 44px;
}

.gray__meal__Goat {
  background-image: url('../images/gray__meal__Goat.png');
  background-size: cover;
  height: 44px;
  width: 44px;
}
