.drinks-details {
  background-color: rgb(138, 84, 40);
  padding: 10px;
}

.drinks-details-header {
  align-items: center;
  background-color: rgb(138, 84, 40);
  display: flex;
}

.drinks-details-picture {
  border-radius: 8px;
}

.drinks-details-title-area {
  width: 100%;
}

.drinks-details-title {
  color: rgb(231, 201, 163);
  font-size: 17px;
  line-height: 1.6;
  margin: 0 10px;
  text-align: center;
}

.drinks-details-tag {
  background-color: rgb(69, 140, 187);
  border-radius: 9px;
  display: inline-block;
  padding: 4px 8px;
}

.drinks-details-ingredients {
  background-color: rgb(163, 106, 60);
  border-radius: 11px;
  margin: 0 20px;
  padding: 9px;
}

.drinks-details-h2-title {
  font-size: 19px;
}

.drinks-details-instructions {
  line-height: 1.3;
  text-align: justify;
}

/* IPAD 14.7.1 */

@media screen and ( min-width : 1080px ) {

  .drinks-details-title {
    font-size: 35px;
    line-height: 1.6;
  }

}
