.drink-list {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin-bottom: 40px;
  margin-left: 4px;
}

.recipe-drink-card {
  background-color: rgb(200, 148, 106);
  border: 0 solid rgb(200, 148, 106);
  border-radius: 8px;
  margin: 3px 5px;
  text-decoration: none;
}

.recipe-drink-card-title {
  color: rgb(110, 28, 8);
  font-size: 11px;
  height: 26px;
  margin-left: 5px;
  max-width: 157px;
}

/* IPAD 14.7.1 */

@media screen and ( min-width : 1080px ) {

  .drink-list {
    margin-left: 10px;
  }
}
