.search-bar {
  background-color: rgb(138, 84, 40);
  border: 0 solid rgb(138, 84, 40);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 10px auto;
  padding: 10px;
  width: 80vw;
}

.search-bar-form-div {
  background-color: rgb(138, 84, 40);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 4px 0;
  width: 97%;
}
